<div class="full-page-content flex-column">
  <div>
    <p class="gradient-text">
      ANANDHU AJAYAKUMAR
    </p>
  </div>
  <div>
    <h1>I am
      <span>
        <span>Anandhu Ajayakumar</span>
        <span>a Full-stack developer</span>
        <span>a Cricket lover</span>
        <span>an Anime fan</span>
        <span>whatever I am</span>
      </span>
    </h1>
  </div>
  <div class="w-100 mbg p-5">
  </div>
  <div>
    <div class="form-group">
      <input type="email" class="form-control border-primary-subtle red-carret" placeholder="Enter email">
    </div>
  </div>
</div>
